./virtual_env_local_stark_bank
.env
**__pycache__/**
.idea

-----BEGIN EC PRIVATE KEY-----MHQCAQEEIKmw3U4oN8kIaCFASpHSiWZXQTfb4593xFacs8NSldNHoAcGBSuBBAAKoUQDQgAENy7ERLULRaplZm7UL2wwjiLbjsqZULnM4EjTf34xRKV0xYYkoTsTnzwcQyxaZH8S/dx1zAQ4MK1FvjqHh3pU0g==-----END EC PRIVATE KEY-----